<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css')}}">
<div class="flex-container cards">
    {% for user_card in user_cards %}
    <div class="card-container item" id="card_{{ user_card.id }}">
        <div class="cards-dotmenu" style="position: absolute; margin-top:-20px">
            {% include 'cards/cards_dotmenu.html' %}
        </div>
        <div class="row" style="height: 90%">
            <div class="col-auto">
                <img src="{{ url_for('static', filename='img/' + user_card.card.title + '.jpg') }}" alt="Card image"
                     class="hover-image">
            </div>
        </div>
        <div class="row" style="height: 10%; border-top: 1px solid black; text-align: center;">
            <div class="col-auto">
                <p>Price: {{ user_card.price }} Amount: {{ user_card.availability }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




