<div class="d-flex flex-column  align-items-center align-items-sm-start px-3 pt-2 text-white">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="{{ url_for('main.root') }}" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
        </li>
        <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Cards</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="{{ url_for('card.create_card') }}" class="nav-link px-0"> <span class="d-sm-inline small-screen">Add Cards</span></a>
                </li>
                <li>
                    <a href="{{ url_for('card.cards') }}" class="nav-link px-0"> <span class=" d-sm-inline small-screen">List Cards</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-journal-album"></i> <span class="ms-1 d-none d-sm-inline">Albums</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                {% for album in session['user_albums'] %}
                    <li class="w-100">
                        <a href="{{ url_for('album.album_cards', album_title=album) }}" class="nav-link px-0"> <span class=" d-sm-inline small-screen">{{ album }}</span></a>
                    </li>
                {% endfor %}
                    <li class="w-100">
                        <a href="{{ url_for('album.create_album') }}" class="nav-link px-0"> <span class=" d-sm-inline small-screen">Create Album</span></a>
                    </li>
                    <li class="w-100">
                        <a href="{{ url_for('album.delete_album') }}" class="nav-link px-0"> <span class=" d-sm-inline small-screen">Delete Album</span></a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Contacts</span> </a>
        </li>
    </ul>
    <hr>
</div>

<style>
    .nav-link {
   color: black;
}

.small-screen {
   display: none;
}

@media (max-width: 576px) {
   .small-screen{
       display: inline; /* or display: block; depending on your layout */
       font-size: 9px;
   }
}

</style>
