{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_card_page.css')}}">
<div class="main-container">

    <div class="flex-container card" style="max-width: 900px;">
        <div class="row container-row">
            <div class="col-6 card-select" style="min-width:223px">
                <form method="post">
                    <div>{{ form.hidden_tag() }}</div>
                    <div class="form-field">{{ form.title.label }} {{ form.title() }}</div>
                    <div class="form-field" class="form-select">{{ form.set.label }} {{ form.set() }}</div>
                    <div class="form-field">{{ form.submit() }}</div>
                    <div class="card-container" style="margin: auto;">
                        <div class="row">
                            <div class="col-auto">
                                <img src="{{ url_for('static', filename=card_image) }}" alt="Card image"
                                     class="hover-image">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6" style="min-width:235px">
                <div class="card-details container" style="margin: auto;">
                    <div class="row container-row">
                        <div class="col-12">
                            <form method="post">
                                <div>{{ create_card_form.hidden_tag() }}</div>
                                <div class="form-field">
                                    {{ create_card_form.title.label }} {{ create_card_form.title() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.color.label }} {{ create_card_form.color() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.mana.label }} {{ create_card_form.mana() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.rarity.label }} {{ create_card_form.rarity() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.set.label }} {{ create_card_form.set() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.type.label }} {{ create_card_form.type() }}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.quality.label }}
                                    {% if create_card_form.title.data == None %}
                                    {{ create_card_form.quality(disabled=True, style="color: transparent;") }}
                                    {% else %}
                                    {{ create_card_form.quality() }}
                                    {% endif %}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.price.label }}
                                    {% if create_card_form.title.data == None %}
                                    {{ create_card_form.price(disabled=True) }}
                                    {% else %}
                                    {{ create_card_form.price() }}
                                    {% endif %}
                                </div>
                                <div class="form-field">
                                    {{ create_card_form.availability.label }}
                                    {% if create_card_form.title.data == None %}
                                    {{ create_card_form.availability(disabled=True) }}
                                    {% else %}
                                    {{ create_card_form.availability() }}
                                    {% endif %}
                                </div>
                                <div class="form-field">
                                    {% if create_card_form.title.data == None %}
                                    {{ create_card_form.submit(disabled=True) }}
                                    {% else %}
                                    {{ create_card_form.submit() }}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}