{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_album_page.css')}}">
<div class="main-container">

    <div class="flex-container card" style="max-width: 900px;">
        <div class="row container-row">
            <div class="col-12 card-select">
                <form method="post">
                    <div>{{ form.hidden_tag() }}</div>
                    <div class="form-field">{{ form.title.label }} {{ form.title() }}</div>
                    <div class="form-field">{{ form.submit() }}</div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}