.cart-icon {
    bottom: 4px;
    right: 8px;
    position: relative;
}

#cart-quantity {
    position: absolute;
    top: 70%;
    left: 12px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    height: 18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flashes {
    z-index: 10000;
    margin-top: 60px;
    position: absolute;
    width: 100%;
}

@media (max-width: 577px) {
    .content {
        max-width: 81%
        margin-top: 60px;
        margin-left: 60px;
    }
}

@media (min-width: 578px) {
    .content{
        margin-top: 60px;
        margin-left: 150px;
    }
    .sidebar{
        width: 160px
    }
}
